<a href="https://colab.research.google.com/github/kmbarb/rainfall_comparison/blob/main/Rainfall_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing packages/modules.

In [2]:
import requests
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
import json
from sqlite3 import connect

Pulling in 2022 rain data from an API.

In [3]:
hist_weather2022 = requests.get('https://archive-api.open-meteo.com/v1/archive?latitude=39.0021&longitude=-84.6793&start_date=2022-06-11&end_date=2022-07-17&daily=rain_sum&precipitation_unit=inch&timezone=America%2FNew_York')
print(hist_weather2022.status_code)

200

Converting to JSON.

In [4]:
hw_data22 = hist_weather2022.json()

Taking a look at the JSON.

In [5]:
print(hw_data22)

{'latitude': 39.0, 'longitude': -84.7, 'generationtime_ms': 0.3889799118041992, 'utc_offset_seconds': -14400, 'timezone': 'America/New_York', 'timezone_abbreviation': 'EDT', 'elevation': 261.0, 'daily_units': {'time': 'iso8601', 'rain_sum': 'inch'}, 'daily': {'time': ['2022-06-11', '2022-06-12', '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-18', '2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29', '2022-06-30', '2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04', '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08', '2022-07-09', '2022-07-10', '2022-07-11', '2022-07-12', '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-16', '2022-07-17'], 'rain_sum': [0.052, 0.343, 0.032, 0.0, 0.0, 0.031, 0.189, 0.0, 0.0, 0.0, 0.0, 0.024, 0.0, 0.0, 0.012, 0.402, 0.0, 0.0, 0.0, 0.0, 0.012, 0.02, 0.008, 0.0, 0.208, 0.044, 0.0, 0.455, 0.276, 0.0, 0.0, 0.004, 0.0, 0.0, 0.0, 0.071, 0.866]}}

Defining my dataframe as the above JSON.

In [6]:
df22 = pd.DataFrame(data=hw_data22)
print(df22)

          latitude  longitude  generationtime_ms  utc_offset_seconds  \
time          39.0      -84.7            0.38898              -14400
rain_sum      39.0      -84.7            0.38898              -14400

                  timezone timezone_abbreviation  elevation daily_units  \
time      America/New_York                   EDT      261.0     iso8601
rain_sum  America/New_York                   EDT      261.0        inch

                                                      daily
time      [2022-06-11, 2022-06-12, 2022-06-13, 2022-06-1...
rain_sum  [0.052, 0.343, 0.032, 0.0, 0.0, 0.031, 0.189, ...

Reformatting the dataframe by converting array into list, then viewing the list.

In [7]:
df22_list = df22["daily"].tolist()
print(df22_list)

[['2022-06-11', '2022-06-12', '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-18', '2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29', '2022-06-30', '2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04', '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08', '2022-07-09', '2022-07-10', '2022-07-11', '2022-07-12', '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-16', '2022-07-17'], [0.052, 0.343, 0.032, 0.0, 0.0, 0.031, 0.189, 0.0, 0.0, 0.0, 0.0, 0.024, 0.0, 0.0, 0.012, 0.402, 0.0, 0.0, 0.0, 0.0, 0.012, 0.02, 0.008, 0.0, 0.208, 0.044, 0.0, 0.455, 0.276, 0.0, 0.0, 0.004, 0.0, 0.0, 0.0, 0.071, 0.866]]

Reformatting the dataframe and printing.

In [8]:
time_list22 = df22_list[0]
rain_sum_list22 = df22_list[1]
df_hw22 = pd.DataFrame(list(zip(time_list22,rain_sum_list22)), columns=['date','rain_sum22'])
print(df_hw22)

          date  rain_sum22
0   2022-06-11       0.052
1   2022-06-12       0.343
2   2022-06-13       0.032
3   2022-06-14       0.000
4   2022-06-15       0.000
5   2022-06-16       0.031
6   2022-06-17       0.189
7   2022-06-18       0.000
8   2022-06-19       0.000
9   2022-06-20       0.000
10  2022-06-21       0.000
11  2022-06-22       0.024
12  2022-06-23       0.000
13  2022-06-24       0.000
14  2022-06-25       0.012
15  2022-06-26       0.402
16  2022-06-27       0.000
17  2022-06-28       0.000
18  2022-06-29       0.000
19  2022-06-30       0.000
20  2022-07-01       0.012
21  2022-07-02       0.020
22  2022-07-03       0.008
23  2022-07-04       0.000
24  2022-07-05       0.208
25  2022-07-06       0.044
26  2022-07-07       0.000
27  2022-07-08       0.455
28  2022-07-09       0.276
29  2022-07-10       0.000
30  2022-07-11       0.000
31  2022-07-12       0.004
32  2022-07-13       0.000
33  2022-07-14       0.000
34  2022-07-15       0.000
35  2022-07-16       0.071
36  2022-07-17       0.866

Displaying the data types in the dataframe.

In [9]:
df_hw22['week_date']=pd.to_datetime(df_hw22.date)
df_hw22.dtypes

date                  object
rain_sum22           float64
week_date     datetime64[ns]
dtype: object

Setting the index to the week_date column in preparation for resampling the date-time data and converting the frequency to weekly rather than daily.

In [10]:
df_hw22.set_index('week_date', inplace = True)
df_hw22weekly=df_hw22.resample('W').sum()
print(df_hw22weekly)

            rain_sum22
week_date
2022-06-12       0.395
2022-06-19       0.252
2022-06-26       0.438
2022-07-03       0.040
2022-07-10       0.983
2022-07-17       0.941

Converting the dates to strings in order to remove the year portion of the string so that we can compare dates across years.

In [11]:
df_hw22weekly['month_day'] = df_hw22weekly.index
df_hw22weekly['month_day']=df_hw22weekly['month_day'].astype(str)
df_hw22weekly = df_hw22weekly.replace('2022-','', regex=True)
print(df_hw22weekly)

            rain_sum22 month_day
week_date
2022-06-12       0.395     06-12
2022-06-19       0.252     06-19
2022-06-26       0.438     06-26
2022-07-03       0.040     07-03
2022-07-10       0.983     07-10
2022-07-17       0.941     07-17

Pulling in 2023 rain data from an API.

In [12]:
hist_weather2023 = requests.get('https://archive-api.open-meteo.com/v1/archive?latitude=39.0021&longitude=-84.6793&start_date=2023-06-11&end_date=2023-07-16&daily=rain_sum&precipitation_unit=inch&timezone=America%2FNew_York')
print(hist_weather2023.status_code)

200

Converting to JSON.

In [13]:
hw_data23 = hist_weather2023.json()

Taking a look at the JSON.

In [14]:
print(hw_data23)

{'latitude': 39.0, 'longitude': -84.7, 'generationtime_ms': 0.33211708068847656, 'utc_offset_seconds': -14400, 'timezone': 'America/New_York', 'timezone_abbreviation': 'EDT', 'elevation': 261.0, 'daily_units': {'time': 'iso8601', 'rain_sum': 'inch'}, 'daily': {'time': ['2023-06-11', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-17', '2023-06-18', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-24', '2023-06-25', '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30', '2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-15', '2023-07-16'], 'rain_sum': [0.753, 0.008, 0.012, 0.0, 0.0, 0.012, 0.0, 0.0, 0.842, 0.096, 0.044, 0.118, 0.016, 0.008, 0.039, 0.059, 0.028, 0.0, 0.012, 0.284, 0.331, 0.494, 0.088, 0.02, 0.0, 0.391, 0.0, 0.205, 0.142, 0.0, 0.0, 0.0, 0.127, 0.048, 0.992, 0.0]}}

Defining my dataframe as the above JSON.

In [15]:
df23 = pd.DataFrame(data=hw_data23)
print(df23)

          latitude  longitude  generationtime_ms  utc_offset_seconds  \
time          39.0      -84.7           0.332117              -14400
rain_sum      39.0      -84.7           0.332117              -14400

                  timezone timezone_abbreviation  elevation daily_units  \
time      America/New_York                   EDT      261.0     iso8601
rain_sum  America/New_York                   EDT      261.0        inch

                                                      daily
time      [2023-06-11, 2023-06-12, 2023-06-13, 2023-06-1...
rain_sum  [0.753, 0.008, 0.012, 0.0, 0.0, 0.012, 0.0, 0....

Reformatting the dataframe by converting array into list, then viewing the list.

In [16]:
df_list = df23["daily"].tolist()
print(df_list)

[['2023-06-11', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-17', '2023-06-18', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-24', '2023-06-25', '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30', '2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-15', '2023-07-16'], [0.753, 0.008, 0.012, 0.0, 0.0, 0.012, 0.0, 0.0, 0.842, 0.096, 0.044, 0.118, 0.016, 0.008, 0.039, 0.059, 0.028, 0.0, 0.012, 0.284, 0.331, 0.494, 0.088, 0.02, 0.0, 0.391, 0.0, 0.205, 0.142, 0.0, 0.0, 0.0, 0.127, 0.048, 0.992, 0.0]]

Reformatting the dataframe and printing.

In [17]:
time_list = df_list[0]
rain_sum_list = df_list[1]
df_hw23 = pd.DataFrame(list(zip(time_list,rain_sum_list)), columns=['date','rain_sum23a'])
print(df_hw23)

          date  rain_sum23a
0   2023-06-11        0.753
1   2023-06-12        0.008
2   2023-06-13        0.012
3   2023-06-14        0.000
4   2023-06-15        0.000
5   2023-06-16        0.012
6   2023-06-17        0.000
7   2023-06-18        0.000
8   2023-06-19        0.842
9   2023-06-20        0.096
10  2023-06-21        0.044
11  2023-06-22        0.118
12  2023-06-23        0.016
13  2023-06-24        0.008
14  2023-06-25        0.039
15  2023-06-26        0.059
16  2023-06-27        0.028
17  2023-06-28        0.000
18  2023-06-29        0.012
19  2023-06-30        0.284
20  2023-07-01        0.331
21  2023-07-02        0.494
22  2023-07-03        0.088
23  2023-07-04        0.020
24  2023-07-05        0.000
25  2023-07-06        0.391
26  2023-07-07        0.000
27  2023-07-08        0.205
28  2023-07-09        0.142
29  2023-07-10        0.000
30  2023-07-11        0.000
31  2023-07-12        0.000
32  2023-07-13        0.127
33  2023-07-14        0.048
34  2023-07-15        0.992
35  2023-07-16        0.000

Displaying the data types in the dataframe.

In [18]:
df_hw23['week_date']=pd.to_datetime(df_hw23.date)
df_hw23.dtypes

date                   object
rain_sum23a           float64
week_date      datetime64[ns]
dtype: object

Setting the index to the week_date column in preparation for resampling the date-time data and converting the frequency to weekly rather than daily.

In [19]:
df_hw23.set_index('week_date', inplace = True)
df_hw23weekly = df_hw23.resample('W').sum()

In [20]:
print(df_hw23weekly)

            rain_sum23a
week_date
2023-06-11        0.753
2023-06-18        0.032
2023-06-25        1.163
2023-07-02        1.208
2023-07-09        0.846
2023-07-16        1.167

Converting the dates to strings in order to remove the year portion of the string so that we can compare dates across years.

In [21]:
df_hw23weekly['month_day23a'] = df_hw22weekly.index
df_hw23weekly['month_day23a']=df_hw23weekly['month_day23a'].astype(str)
df_hw23weekly = df_hw23weekly.replace('2022-','', regex=True)
print(df_hw23weekly)

            rain_sum23a month_day23a
week_date
2023-06-11        0.753        06-12
2023-06-18        0.032        06-19
2023-06-25        1.163        06-26
2023-07-02        1.208        07-03
2023-07-09        0.846        07-10
2023-07-16        1.167        07-17

Creating a dictionary using the data from my personal rain gauge.

In [22]:
gauge_data23 = {'month_day23b': ['07-17', '07-10', '07-03', '06-26', '06-19', '06-12'], 'rain_sum23b': [0.67, 0.46, 1.44, 1.52, 0.52, 1.00]}
print(gauge_data23)

{'month_day23b': ['07-17', '07-10', '07-03', '06-26', '06-19', '06-12'], 'rain_sum23b': [0.67, 0.46, 1.44, 1.52, 0.52, 1.0]}

Converting that dictionary to a dataframe.

In [23]:
gauge_df23 = pd.DataFrame.from_dict(gauge_data23)
print(gauge_df23)

  month_day23b  rain_sum23b
0        07-17         0.67
1        07-10         0.46
2        07-03         1.44
3        06-26         1.52
4        06-19         0.52
5        06-12         1.00

Making sure the dates are formatting as strings.

In [24]:
gauge_df23['month_day23b'] = gauge_df23['month_day23b'].astype(str)
print(gauge_df23)

  month_day23b  rain_sum23b
0        07-17         0.67
1        07-10         0.46
2        07-03         1.44
3        06-26         1.52
4        06-19         0.52
5        06-12         1.00

Connecting to SQL.

In [25]:
conn = connect(':memory')
df_hw22weekly.to_sql("df_hw22weekly", conn)
df_hw23weekly.to_sql("df_hw23weekly", conn)
gauge_df23.to_sql("gauge_df23", conn)
def sql(a_string):
  return(pd.read_sql(a_string, conn))

Performing an SQL Join to compare rainfall numbers using the API data for 2022 as rain_sum22, 2023 as rainsum23a, and the 2023 data from my personal rain guage as rain_sum23b.

In [26]:
sql("""SELECT
    a.month_day, a.rain_sum22, b.rain_sum23a, c.rain_sum23b
    FROM
     df_hw22weekly AS a
    LEFT JOIN
     df_hw23weekly AS b
    ON
     a.month_day = b.month_day23a
    LEFT JOIN
      gauge_df23 as c
    ON b.month_day23a = c.month_day23b
         """)

  month_day  rain_sum22  rain_sum23a  rain_sum23b
0     06-12       0.395        0.753         1.00
1     06-19       0.252        0.032         0.52
2     06-26       0.438        1.163         1.52
3     07-03       0.040        1.208         1.44
4     07-10       0.983        0.846         0.46
5     07-17       0.941        1.167         0.67

Converting all of my dataframes to csv in order to connect to Tableau and create a dashboard.

In [ ]:
df_hw22weekly.to_csv('df_hw22weeklyname.csv')

In [ ]:
df_hw23weekly.to_csv('df_hw23weeklyname.csv')

In [ ]:
gauge_df23.to_csv('gauge_data23.csv')

Embedded Tableau Dashboard...

In [27]:
%%html
<div class='tableauPlaceholder' id='viz1690417606432' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ra&#47;RainfallDataDashboard_16904141579260&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='RainfallDataDashboard_16904141579260&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ra&#47;RainfallDataDashboard_16904141579260&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1690417606432');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>